body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: grey;
    color: rgb(0, 17, 255);
    padding: 10px;
    text-align: center;
    border: 2px;
    border-radius: 10px;
    border-color: black;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  #kontaktformular {
    margin: 20px;
  }
  
  footer {
    background-color: grey;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 2px;
    border-radius: 10px;
    border-color: black;
  }

  /* Menü-Tabelle */
  .menu-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  .menu-table td {
    padding: 20px;
    vertical-align: top;
    text-align: center;
  }
  
  /* Menü-Listen */
  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-list li {
    margin-bottom: 20px;
  }
  
  .menu-list h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .menu-list p {
    margin: 0;
    font-size: 1rem;
    color: #555;
  }
  
  /* Horizontale Listen */
  .horizontal-list li {
    display: block;
  }
  
  
  
  
  
  